
@{
    ViewBag.Title = "Index";
}

@model List<Genre>
@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-top:50px">
    <div class="panel panel-default" style="padding:10px">
        <div class="panel-heading">
            <div class="form-group">
                <input type="text" id="name" value="" class="form-control" placeholder="Tür Adı Giriniz" />
            </div>

            <div class="form-group">
                <input type="text" id="description" value="" class="form-control" placeholder="Tür Açıklaması Giriniz" />
            </div>
            <div class="form-group">
                <input type="button" id="btnSave" value="Kaydet" class="btn btn-success" data-id="0" />
                <input type="button" id="btnCancel" value="Güncellemeden Vazgeç" class="btn btn-danger" />
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tür ID</th>
                        <th>Tür Adı</th>
                        <th>Açıklama</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Genre item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <button class="btn btn-primary btnUpdate" data-catID="@item.ID">Güncelle</button>
                            </td>
                            <td>
                                <button class="btn btn-danger btnDelete" data-catID="@item.ID">Sil</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $("#btnCancel").hide();
        })

        $("#btnSave").click(function () {
            var ID = $(this).attr("data-id");
            var serviceURL = "";

            var cat = {
                "Name": $("#name").val(),
                "Description": $("#description").val(),
                "ID": 0
            };

            if (categoryID == 0) {
                serviceURL = "/Genre/Add";
            }
            else
            {
                serviceURL = "/Genre/Update";
                cat.CategoryID = categoryID;
            }

            $.ajax({
                url: serviceURL,
                type: "POST",
                data: cat,
                success: function (resp) {
                    if (resp == "ok") {
                        window.location.reload();
                    }
                    else
                    {
                        alert("Kayıt işlemi başarısız")
                        console.log(resp);
                    }
                },
                error: function (err) {
                    alert("İstek başarısız");
                    console.log(err);
                }

            })

        })

        $(".btnUpdate").click(function () {
            var catID = $(this).attr("data-catID");

            $.ajax({
                url: "/Genre/GetByID/" + catID,
                type: "GET",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        $("#name").val(data.Name);
                        $("#description").val(data.Description);
                        $("#btnSave").attr("data-id", data.ID);
                        $("#btnSave").val("Güncelle");
                        $("#btnCancel").show();
                    }
                    else {
                        alert("Kategori bulunamadı.");
                    }
                }
            });
        });
    </script>


}



